@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

body {
    font-family: 'Tinos', serif;
    text-align: center;
    margin: 0px;
    background-color: #b58af1;
}

:root {
    --primary-color: #e8f0ea;
}

.navigation {
    background-color: black;
    opacity: 70%;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 5px
}

.container {
    max-width: 100%;
    width: 600px;
    text-align: center;
    margin: auto;

}


.container .text-box {
    background-color: white;
    display: block;
    height: 30px;
    max-width: 70%;
    width: 500px;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 1.5rem;
    font-size: 1rem;

}


.container #btn-translate {

    background-color: var(--primary-color);
    color: var(--black);
    border: 2px solid black;
    font-size: medium;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    ;
    border-radius: 1rem;
    padding: 1rem;
}



.ferb {
    padding: 0.5rem;
    padding-top: 0.5rem;
}

.ferb .ferb-image {

    width: 350px;
    display: block;
    margin: auto;
    border-radius: 1.5rem;


}

.footer {

    background-color:
        black;
    opacity: 80%;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.footer .footer-about {
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 1rem;
    color: white
}

.footer p {
    text-align: center;
    max-width: 600px;
    margin: auto;
    color: white
}